.card-grid {
    min-height: 30rem;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-block: 2rem;
    background-color: var(--background-color);
}
